
.inicioLog{
    padding-top: 15px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#boton{
    margin-top: 20px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.Piepage{
    color: white;
    width: 100%;
    background-color:rgb(0, 0, 20) ;
    position: absolute;
    bottom: 0;
}
.PieAdmin{
    color: white;
    width: 100%;
    background-color:rgb(0, 0, 20) ;
}
.heaPage{
    background-color:rgb(0, 0, 20) ;
    color: white;
    border-radius: 1px;
    border-color: white;
    border-style: solid;
    height: 100px;
}
.tituloHead{
position: relative;
padding-top: 20px;
}
.menuJared{
    border-color: white;
    border-style: solid;
    background-color:rgb(0, 0, 20);
    width: 100%;
    height: 100px;
    color: aliceblue;
}
.ColorLetra{
    color: rgb(0, 0, 20) ;
}
.contenedorPanel{
    display: inline-flex;
   width: 100%;
}
.botonCss{
    display: inline-block;
    width: 10%;

}
.tituloCss{
    display: inline-block;
    width: 90%;
}
.botonCerrar {
    background-color: transparent;
}
input{
    background-color: transparent;
    color: rgb(0, 0, 20) ;
    border-color: white;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;

}
.color{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 3px solid rgba(0, 0, 20);
    border-radius: .25re
}
.btn-delete {
    display: inline-block;
    background-color: #d9534f; /* Rojo */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-delete:hover {
    background-color: #c9302c; /* Rojo más oscuro al pasar el mouse */
}


